.back-button {
	display: none;
	position: fixed;
	bottom: 5%;
	left: 2%;
	background-color: transparent;
	border: 2px solid #38b6ff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9998;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.5s ease, filter 0.5s ease;
}


.back-icon {
	width: 30px;
	height: 30px;
}


.ripple {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	background-color: rgba(56, 182, 255, 0.9);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	animation: none;
}


@keyframes rippleEffect {
	0% {
		width: 0;
		height: 0;
		opacity: 1;
	}

	50% {
		width: 100px;
		height: 100px;
		opacity: 0.3;
	}

	100% {
		width: 150px;
		height: 150px;
		opacity: 0;
	}
}


.back-button:hover {
	transform: scale(1.1);
	filter: brightness(1.1);
	background-color: #38b6ff;
}


.back-button:active {
	transform: scale(0.9);
	filter: brightness(0.7);
}

.cursor-orb {
	position: absolute;
	width: 7px;
	height: 7px;
	background-color: #b39eff;
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
	transition: transform 0.5s ease, opacity 0.3s ease, clip-path 0.5s ease, border-radius 0.3s ease;
}

.cursor-circle {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1.5px solid #b39eff;
	border-radius: 50%;
	pointer-events: none;
	transition: all 0.1s ease-in-out;
	z-index: 9999;
}

.scroll-downs {
	position: relative;
	display: flex;
	justify-content: center;
	margin: auto;
	padding-top: 1%;
	width: 34px;
	height: 55px;
}

.mousey {
	width: 3px;
	padding: 10px 15px;
	height: 35px;
	border: 2px solid #fff;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 1s ease-in, transform 2s ease-out;
}

.mousey.show {
	transform: translateY(0);
}

.scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}

@keyframes scroll {
	0% {
		opacity: 0;
	}

	10% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}

.section-background-overlay-1,
.section-background-overlay-2,
.section-background-overlay-3,
.elementor-background-overlay {
	content: "";
	position: absolute;
	border-radius: 8px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(10px) brightness(0.9);
	z-index: -1;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.illustrations {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transform: scale(1.1);
	transition: transform 0.6s ease, opacity 0.3s ease;
}

section:hover .illustrations {
	transform: scale(1);
	opacity: 1;
}


.elementor-background-overlay {
	content: "";
	position: absolute;
	border-radius: 8px;
	top: 0;
	left: 0;
	height: 100%;
	filter: blur(10px);
	z-index: -1;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.illustration-acceuil {
	opacity: 1;
}

.container {
	width: 90%;
	margin: 0 auto;
	box-sizing: border-box;
}

.block-title {
	font-size: 165%;
	font-weight: bold;
	margin-right: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin: 0;
	height: 25%;
}

.title-image {
	height: 80%;
	top: -10%;
	margin: 0;
	margin-left: 2%;
	padding: 0;
	display: inline-block;
	transform: translateY(-10%);
}


.block-text {
	font-size: 105%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5%;
	top: 15%;
	bottom: 0;
	position: relative;
	padding-left: 5%;
	border-left: 3px solid #575659;
	padding-top: 4px;
	padding-bottom: 4px;
}

.block-text::after {
	content: "</h3>";
	position: absolute;
	left: 0;
	bottom: -25px;
	transform: translateX(-50%);
	font-size: 18px;
	color: black;
	text-align: center;
}

.block-text::before {
	content: "<h3>";
	position: absolute;
	left: 0;
	top: -35px;
	transform: translateX(-50%);
	font-size: 18px;
	color: #A9A9A9;
	text-align: center;
}

.block-text::after {
	content: "</h3>";
	position: absolute;
	left: 0;
	bottom: -35px;
	transform: translateX(-50%);
	font-size: 18px;
	color: #A9A9A9;
	text-align: center;
}

.block-text::before,
.block-text::after {
	line-height: 1;
}


.expertise-block:hover {
	margin: 0.1%;
	transform: translateY(-10px) scale(1.01);
	box-shadow: 0 4px 15px 20px rgba(255, 255, 255, 0.2);
}

.accordion {
	font-family: 'Poppins', sans-serif;
	background-color: #430d79;
	border-radius: 6px;
	font-size: 1.2em;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	margin: 0 auto;
	max-width: 1200px;
	text-align: left;
	border: none;
	outline: none;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

.accordion .accordion-date {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
}


.accordion::before {
	content: "+";
	position: absolute;
	right: 2%;
	top: 53%;
	transform: translateY(-50%);
	font-size: 200%;
	font-weight: 100;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: background-color 1s ease, transform 0.2s ease, color 0.2s ease;
}


.active {
	background-color: #740cdc;
}


.accordion.active::before {
	content: "-";
}


.accordion:hover::before {
	color: #38b6ff;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 50% 50%;
}


.panel {
	width: 100%;
	font-size: 1.2em;
	border: 2px solid #ffffff08;
	background-color: #241d41;
	margin: 0.2% 0;
	border-radius: 6px;
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	padding: 0 18px;
	transition:
		max-height 0.2s ease-in-out,
		opacity 0.5s ease-in-out,
		margin 0.2s ease-in-out,
		padding 0.2s ease-in-out;
	box-sizing: border-box;
}


.panel.show {
	margin: 1% 0;
	max-height: 500px;
	opacity: 1;
	padding: 10px 18px;
}

.languages {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
	margin: 10px 0;
	margin-left: 2%;
}

.language {
	padding: 8px 12px;
	border-radius: 50px;
	background-color: #3498db;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}


.expertise-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-top: 20px;
	padding: 10px;
}


.expertise-block {
	flex: 1;
	margin: 0;
	width: 305px;
	height: 300px;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 20px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	font-size: 1rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease;
}