@font-face {
    font-family: "Dayrom";
    src: local("Dayrom"),
         url("polices/dayrom.eot") format("eot"),
         url("polices/dayrom.eot?#iefix") format("embedded-opentype"),
         url("polices/dayrom.ttf") format("truetype"),
         url("polices/dayrom.svg#Dayrom") format("svg"),
         url("polices/dayrom.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BallparkWeiner";
    src: local("BallparkWeiner"),
         url("polices/ballpark.eot") format("eot"),
         url("polices/ballpark.eot?#iefix") format("embedded-opentype"),
         url("polices/ballpark.ttf") format("truetype"),
         url("polices/ballpark.svg#BallparkWeiner") format("svg"),
         url("polices/ballpark.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}




body {
    background: url("images/fond_jaune.png");
    font-family: sans-serif, "Trebuchet MS", Arial ;
    color: #181818;
}

#bloc_page {
    width: 900px;
    margin: auto;
}

section h1, nav a, footer h1 {
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}







header {
    background: url("images/separateur.png") repeat-x bottom;
}

#titre_principal, #logo {
    display: inline-block;
    margin-bottom: 0;
}

header h1 {
    font-family: "BallparkWeiner", serif;
    font-size: 35px;
    font-weight: normal;
}

header h2 {
    font-family: Dayrom, serif;
    font-size: 17px;
    font-weight: normal;
    margin-top: 0;
}






nav {
    width: 740px;
    display: inline-block;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    color: #181818;
    font-size: 18px;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}






#banniere_image {
    position: relative;
    background: url("images/sanfrancisco.jpg") no-repeat;
    height: 200px;
    margin: 15px 0 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
}

#banniere_description {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    height: 33px;
    padding: 15px 0 0 4px;
    background-color: rgba(24, 24, 24, 0.8);
    border-radius: 0 0 5px 5px;
    color: white;
    font-size: 15px;
}

.bouton_rouge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 25px;
    padding: 3px 8px 0;
    background: url("images/fond_degraderouge.png") repeat-x;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img {
    border: 0;
}






article, aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article {
    width: 625px;
    margin-right: 15px;
}

article p {
    font-size: 15px;
}

aside {
    position: relative;
    width: 235px;
    padding: 10px;
    background-color: #706b64;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
}

.ico_categorie {
    margin-right: 8px;
    vertical-align: middle;
}

#fleche_bulle {
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor {
    text-align: center;
}

#photo_zozor img, #mes_photos img {
    border: 1px solid #181818;
}

aside img {
    margin-right: 5px;
}






footer {
    background: url("images/ico_top.png") no-repeat top center,
                url("images/separateur.png") repeat-x top,
                url("images/ombre.png") repeat-x top;
    padding-top: 25px;
}

footer p, footer ul {
    font-size: 15px;
}

footer h1 {
    font-size: 17px;
}

#tweet, #mes_photos, #mes_amis {
    display: inline-block;
    vertical-align: top;
}

#tweet { width: 28%; }
#mes_photos { width: 35%; }
#mes_amis { width: 31%; }

#mes_amis ul {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-top: 0;
    padding-left: 2px;
    list-style-image: url("images/ico_liensexterne.png");
}

#mes_amis a {
    color: #760001;
    text-decoration: none;
} 
