body,
html {
	font-family: "Work Sans", serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100vh;
	background: linear-gradient(to bottom,
			#121b25 0%,
			#1b2838 5%,
			#1b2838 10%,
			#1b2838 90%,
			#1b2838 95%,
			#121b25 100%);
	background-size: 100% 100%;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}


header {
	position: relative;
	top: 10px;
	padding: 20px;
	transition: top 0.5s ease, background-color 0.3s ease;
	background-color: transparent;
	z-index: 1000;

}

header.scrolled {
	position: fixed;
	animation: slideDown 0.5s forwards;
	width: 100%;
	background-color: #16212e88;

	backdrop-filter: blur(15px);
}

@keyframes slideDown {
	0% {
		top: -100px;

	}

	100% {
		top: 0;

	}
}

header:not(.scrolled) {
	animation: slideUp 0.5s forwards;

}


@keyframes slideUp {
	0% {
		top: -100px;

	}

	100% {
		top: 0px;

	}
}


.menu {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
}

.menu li {
	margin: 0 20px;
	transition: opacity 0.3s ease, transform 0.3s ease;

}

.menu a {
	font-family: "Lexend Deca", serif;
	font-size: 190%;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	position: relative;
	display: inline-block;
	transition: transform 0.2s ease-in-out, text-decoration-thickness 0.2s ease-in-out;
}

.menu a:hover {
	text-decoration: underline;
	text-decoration-thickness: 4px;
	transform: translateY(-5px) scale(1.05);
	color: #38b6ff;
}

.menu a:active {
	transform: scale(0.8);
	filter: brightness(0.5);
}

.button-number {
	font-family: "Russo One", serif;
	font-size: 12px;
	font-style: normal;
	position: absolute;
	top: -35%;

	right: 0%;

	color: rgb(199, 199, 199);

	padding: 2px 5px;
	border-radius: 50%;

	font-weight: bold;
}

main {
	padding: 2em 1em;
	color: white;
	margin-top: 9%;
	display: flex;
	justify-content: center;

	align-items: flex-start;
}


section {
	transition: transform 0.5s ease-in-out, opacity 1s ease, visibility 1s ease;
	position: relative;
	padding-top: 50px;
	padding: 2em;
	padding-bottom: 3%;
	margin-top: 10%;
	background: #16202d88;
	border: 1px solid #ffffff08;

	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

section h2 {
	line-height: 1;
	font-size: 500%;
	margin: 2%;
}

section:hover {
	transform: scale(1.02);
}

.accueil {
	margin-top: 2%;
	padding: 2em;
	padding-bottom: 5%;
	border-radius: 8px;
	border: 1px solid #ffffff08;
	color: white;
	transition: transform 0.2s ease-in-out;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	backdrop-filter: blur(10px);
	z-index: 1;
}

.name {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 0.9;
	font-size: 10vw;
	top: 0;
	margin: 0;
	margin-top: 4.9%;
}


.description {
	text-align: center;
	font-weight: bold;
	position: relative;
	font-size: 250%;

	opacity: 0;
	transform: translateY(50px);


	transition: opacity 1s ease-in, transform 1s ease-out;
	margin-top: 0;
	margin-bottom: 4%;
}

.description.show {
	opacity: 1;
	transform: translateY(0);

}

h1,
h2 {
	text-align: center;
}

.wrapper {
	margin-top: 5%;
	width: 100%;
}

footer {
    font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	padding: 20px;
	background: linear-gradient(to left, #430d79, #0e0e0e, #0e0e0e, #0e0e0e, #0e0e0e, #0e0e0e, #430d79);
	color: white;
	height: 100%;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;

}

.footer-text-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-text {
	width: 60%;
	margin-bottom: 10%;

}

.footer-text h3 {
	font-size: 40px;
	font-weight: bold;
	flex: 1;
}

.footer-text p {
	font-size: 19px;
	flex: 1;
}

.footer-contact {
	text-decoration: underline;
	text-decoration-color: #740cdc;
	font-size: 26px;
	width: 55%;
}

.footer-contact li {
	font-size: 20px;
	padding: 5px;
	padding-left: 0;
}


.footer-contact ul {
	list-style-type: none;
	padding: 0;
}


.footer-contact a {
	color: #ffffff;
	text-decoration: none;
}


@media (max-width: 768px) {
	.expertise-container {
		flex-direction: column;
		align-items: center;
	}

	.expertise-block {
		width: 90%;
		height: auto;
	}

	.expertise-block:hover {
		margin: 0;
		transform: translateY(0) scale(1);
		box-shadow: 0 4px 15px 20px rgba(255, 255, 255, 0.2);
	}

	body,
	html {
		flex-direction: column;
		align-items: center;
        gap: 10%;
	}
}